{% extends 'fronted/fronted.html.twig' %}

{% block title %}
    Certificado Energético
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="text-center">
            <h1>Certificado Energético</h1>

            <div class="row mt-5">
                <div class="col-md-6">
                    <p>El <strong>CEE</strong> es un documento oficial redactado por un técnico competente que incluye información objetiva sobre las características energéticas de un inmueble.</p>
                    <p>La certificación energética califica energéticamente un inmueble calculando el consumo anual de energía necesario para satisfacer la demanda energética de una vivienda en condiciones normales de ocupación y funcionamiento.</p>
                    <p>El proceso de certificación energética concluye con la emisión de un <strong>CEE</strong> y la asignación de una etiqueta energética.</p>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="{{ asset('img/certificado-energetico.jpg') }}" alt="Certificado Energético">
                </div>
            </div>
        </div>
    </div>
{% endblock %}