{% extends 'fronted/fronted.html.twig' %}

{% block title %}Financiación | Erreka Inmobiliaria (La Peña){% endblock %}

{% block body %}
    <main id="main">
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">Financiación</h1>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('homepage') }}">Inicio</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Financiación
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div class="container mt-5">
        <div class="text-center">
            <div class="row mt-5">
                <div class="col-md-6">
                    <p><strong>Tramita Norte:</strong> empresa dedicada a la intermediación financiera, con una amplia experiencia en financiación hipotecaria gracias a los importantes convenios con las principales entidades bancarias de nuestro país.</p>
                    <p>Tramitamos préstamos hipotecarios y negociamos las mejores condiciones para el cliente: una hipoteca bien negociada supone el ahorro de mucho dinero.</p>
                    <p><strong>Tramita Norte</strong> financiamos tus sueños.</p>
                    <p><strong>Hipotecas:</strong></p>
                    <p><strong>¿Va a comprar una vivienda y necesita financiar la compra de la misma?</strong></p>
                    <p>Nuestras hipotecas se adaptan perfectamente a su capacidad de ahorro y le ofrecen diferentes posibilidades de financiación, y si quiere financiar el 100% de la adquisición de su casa o no dispone de avalistas no dude en ponerse en contacto con nosotros ya que en <strong>Tramita Norte</strong> ofrecemos hipotecas de máxima financiación gracias a nuestros acuerdos con las principales entidades bancarias del país.</p>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="{{ asset('img/financiacion.png') }}" alt="Financiación">
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-12">
                    <a class="btn btn-info btn-a" href="{{ path('contact') }}">Contacto</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}