{% extends 'fronted/fronted.html.twig' %}

{% block title %}
    Financiación
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="text-center">
            <h2>Financiación</h2>
            <p>Hola</p>
        </div>
    </div>
{% endblock %}
