{% extends 'fronted/fronted.html.twig' %}

{% block title %}Seguros | Erreka Inmobiliaria (La Peña){% endblock %}

{% block body %}
    <main id="main">
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">Seguros</h1>
                            <span class="color-text-a">
                                Garrido Correduría de seguros ubicada en Bilbao con amplia experiencia y dedicación de más de 30 años en el sector asegurador, tiene como principal objetivo ofrecer los mejores servicios, siempre adaptados a las necesidades de los clientes.
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('default') }}">Inicio</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Seguros
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-7">
                <h2>Los seguros más seguros a tráves de un corredor. <span class="text-muted">¿Por qué? </span></h2>
                <p class="lead">Porque el corredor de seguros es la persona que puede defender tus derechos frente a la compañia aseguradora, actuando con cercanía, imparcialidad e independencia.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" src="{{ asset('img/seguros.png') }}" alt="">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">AUTOMÓVIL</li>
                    <li class="list-group-item">HOGAR</li>
                    <li class="list-group-item">SALUD</li>
                    <li class="list-group-item">BAJA DIARIA</li>
                    <li class="list-group-item">VIDA</li>
                    <li class="list-group-item">DECESOS</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">PYME</li>
                    <li class="list-group-item">COMERCIO</li>
                    <li class="list-group-item">MASCOTAS</li>
                    <li class="list-group-item">MOTO</li>
                    <li class="list-group-item">R. CIVIL</li>
                    <li class="list-group-item">IMPAGOS</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}