{% extends 'fronted/fronted.html.twig' %}

{% block title %}
    Seguros
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="text-center">
            <h1>Seguros</h1>
            <p>Garrido Correduría de seguros ubicada en Bilbao con amplia experiencia y dedicación de más de 30 años en el sector asegurador, tiene como principal objetivo ofrecer los mejores servicios, siempre adaptados a las necesidades de los clientes.</p>
        </div>
        <div class="row featurette mt-5">
            <div class="col-md-7">
                <h2 class="featurette-heading">Los seguros más seguros a tráves de un corredor. <span class="text-muted">¿Por qué? </span></h2>
                <p class="lead">Porque el corredor de seguros es la persona que puede defender tus derechos frente a la compañia aseguradora, actuando con cercanía, imparcialidad e independencia.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ asset('img/seguros.png') }}" alt="">
            </div>
        </div>

        <div class="row featurette mt-5">
            <div class="col-md-6">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">AUTOMÓVIL</li>
                    <li class="list-group-item">HOGAR</li>
                    <li class="list-group-item">SALUD</li>
                    <li class="list-group-item">BAJA DIARIA</li>
                    <li class="list-group-item">VIDA</li>
                    <li class="list-group-item">DECESOS</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">PYME</li>
                    <li class="list-group-item">COMERCIO</li>
                    <li class="list-group-item">MASCOTAS</li>
                    <li class="list-group-item">MOTO</li>
                    <li class="list-group-item">R. CIVIL</li>
                    <li class="list-group-item">IMPAGOS</li>
                </ul>
            </div>
        </div>

        <hr class="featurette-divider">


    </div>

    <hr class="featurette-divider">
{% endblock %}