{% extends 'fronted/fronted.html.twig' %}

{% block title %}
    Abogados
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="text-center">
            <h2>Abogados</h2>
            <p>Contamos con un equipo de profesionales expertos en distintas materias y con aplicación de las nuevas tecnologías que se adapten a sus necesidades.</p>

            <div class="row">
                <div class="col-md-6">
                    <img src="{{ asset('img/abogados.png') }}" class="card-img-top" alt="Abogados">
                </div>
                <div class="col-md-6">
                    <div class="card border-0">
                        <div class="card-body">
                            <h5 class="card-title">Gabinete jurídico especializado en las siguientes áreas:</h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Penal</li>
                            <li class="list-group-item">Civil (accidentes de tráfico, herencias, procedimientos matrimoniales etc…)</li>
                            <li class="list-group-item">Laboral (despidos, reclamaciones del cantidad etc…)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
