{% extends 'fronted/fronted.html.twig' %}

{% block title %}
    Reformas
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="text-center">
            <h1>Acondicionar su vivienda para la venta</h1>
            <h3 class="my-5">Home Staging</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="{{ asset('img/decoration/antes.png') }}" alt="Antes">
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="{{ asset('img/decoration/despues.png') }}" alt="Despues">
            </div>
        </div>
        <div class="text-center mb-5">
            <h3 class="my-5">Reportaje fotográfico profesional</h3>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="{{ asset('img/decoration/foto-1-antes.png') }}" alt="Antes">
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="{{ asset('img/decoration/foto-1-despues.png') }}" alt="Despues">
                </div>
            </div>
        </div>
    </div>
{% endblock %}