{% extends 'fronted/fronted.html.twig' %}

{% block title %}
    Asesoría Fiscal
{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5">
        <div class="text-center">
            <h2>Asesoría integral de empresas y autónomos</h2>
            <p>
                Nuestra Asesoría ofrece a nuestros clientes todos los servicios que necesita, adaptándonos a sus necesidades, bien como empresa o como autónomo para que logren cumplir con sus obligaciones fiscales de la manera más eficiente posible.
            </p>
        </div>

        <!-- START THE FEATURETTES -->
        <div class="row featurette mt-5">
            <div class="col-md-7">
                <h2 class="featurette-heading">Fiscal y <span class="text-muted">Contable</span></h2>
                <ul>
                    <li>Realización y presentación de los impuestos de la empresa o autónomo</li>
                    <ul>
                        <li>Declaraciones de I.V.A., modelos 303/310 y 390/3191</li>
                        <li>Declaraciones de operaciones con terceros, modelo 347</li>
                        <li>Declaración de pago fraccionado, modelo 130</li>
                        <li>Declaraciones de retenciones de capital inmobiliario y mobiliario, modelos 115 y 180</li>
                        <li>Declaraciones de operaciones intracomunitarias, modelo 309/349</li>
                        <li>Modelo 184</li>
                        <li>Declaraciones de la Renta de los Autónomos, modelo 100</li>
                        <li>Impuesto de Sociedades, modelo 200 y presentaciones de cuentas anuales</li>
                    </ul>
                    <li>Realización de cualquier recurso de reposición derivado de la presentación de los citados impuestos, solicitudes de aplazamiento y escritos de cualquier índole ante Hacienda Foral</li>
                    <li>Confección ordinaria de los libros contables</li>
                    <li>Presentación de los libros contables, modelo 140</li>
                </ul>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" src="{{ asset('img/tax-advice/contable.png') }}" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Laboral</h2>
                <ul>
                    <li>Tramitación de partes de accidente o enfermedad</li>
                    <li>Tramitación de ayudas y toda clase de subvenciones ante cualquier organismo público</li>
                    <li>Realización de contratos, nóminas y seguros sociales</li>
                </ul>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" height="200px" src="{{ asset('img/tax-advice/laboral.png') }}" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Jurídico</h2>
                <p class="lead">El despacho está formado por dos abogados de más de treinta años de experiencia en las áreas laboral, penal, fiscal y civil, proporcionando un solvente asesoramiento en relación con la actividad del autónomo así como en cualquier ámbito personal.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ asset('img/tax-advice/juridico.png') }}" alt="">
            </div>
        </div>
        <!-- /END THE FEATURETTES -->
    </div>

    <hr class="featurette-divider">
{% endblock %}