{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="card shadow">
        <div class="card-header py-3">
            <h1>Editar Noticia a Desarrollar</h1>
        </div>
        <div class="card-body">
            {{ include('admin/_form.html.twig', {'button_label': 'Actualizar'}) }}
        </div>

        <div class="card-footer">
{#            {{ include('admin/_back_link.html.twig', {'route': 'property_to_developer_index'}) }}#}
            <a class="btn btn-info" href="{{ path('property_to_developer_show', {'id': property.id }) }}">
                Ver Noticia a Desarrollar
            </a>
        </div>
    </div>

{% endblock %}
