{% extends 'admin/layout.html.twig' %}

{% block title %}Edit Zone{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        {#        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
        <h1 class="h3 mb-4 text-gray-800 float-left">Editar zona</h1>
        <a class="btn btn-success float-right" href="{{ path('reason_new') }}">Crear razón</a>
    </div>
    <div class="card-body">
        {{ include('admin/_form.html.twig', {'button_label': 'Actualizar'}) }}
        <a class="btn btn-link" href="{{ path('zone_index') }}">Volver a lista</a>

        {{ include('admin/_delete_form.html.twig', {'route': 'zone_delete', 'entity': zone }) }}
    </div>
</div>



{% endblock %}
