{% extends 'admin/layout.html.twig' %}

{% block title %}New Zone{% endblock %}

{% block content %}
    <h1>Crear nueva <b>zona</b> </h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('zone_index') }}">back to list</a>
{% endblock %}
