{% extends 'admin/layout.html.twig' %}

{% block title %} Nueva Zona {% endblock %}

{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800 float-left">Crear zona</h1>
            {#        <a class="btn btn-link float-right" href="{{ path('company_index') }}">Volver a la lista</a>#}
        </div>
        <div class="card-body">
{#            {{ include('admin/_form.html.twig') }}#}
            {{ include('admin/zone/_form_zone.html.twig') }}
        </div>
        <div class="card-footer">
            {{ include('admin/_back_link.html.twig', {'route': 'zone_index'}) }}
        </div>
    </div>

{% endblock %}
