{% extends 'admin/layout.html.twig' %}

{% block title %}Orientation{% endblock %}

{% block content %}
    <h1>Orientation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ orientation.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ orientation.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('orientation_index') }}">back to list</a>

    <a href="{{ path('orientation_edit', {'id': orientation.id}) }}">edit</a>

{% endblock %}
