{% extends 'admin/layout.html.twig' %}

{% block title %}Editar Cita{% endblock %}

{% block content %}
    <h1>Editar Cita</h1>

    {{ include('admin/booking/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a class="btn btn-link" href="{{ path('booking_calendar') }}">Volver a la lista</a>

{#    {{ include('admin/booking/_delete_form.html.twig') }}#}
{% endblock %}
