{% extends 'admin/layout.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block content %}
    <h1>Create new Booking</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('booking_index') }}">back to list</a>
{% endblock %}
