{% extends 'admin/layout.html.twig' %}

{% block title %}Nueva Compañia{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 mb-4 text-gray-800 float-left">Crear nueva compañía</h1>
        <a class="btn btn-link float-right" href="{{ path('company_index') }}">Volver a lista</a>
    </div>
    <div class="card-body">

        {{ include('admin/_form.html.twig', {'button_label': 'Crear Compañia'}) }}

        <a class="btn btn-link" href="{{ path('company_index') }}">Volver a la lista</a>
    </div>
</div>
{% endblock %}
