{% extends 'admin/layout.html.twig' %}

{% block title %}Edit Reason{% endblock %}

{% block content %}
    <h1>Edit Reason</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('reason_index') }}">back to list</a>

{#    {{ include('admin/_delete_form.html.twig', {'route': 'reason_delete', 'entity': reason}) }}#}
{% endblock %}
