{% extends 'admin/layout.html.twig' %}

{% block title %}New Reason{% endblock %}

{% block content %}
    <h1>Create new Reason</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('reason_index') }}">Volver a la lista</a>
{% endblock %}
