{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <h1>Erreka, página de inicio</h1>
    <br>
    <a href="{{ path('app_login') }}">Login</a>
    <a href="{{ path('app_register') }}">Register</a>


{% endblock %}