{% extends 'fronted/fronted.html.twig' %}

{% block title %}Contacto{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-gradient-dark text-black-50"><i class="fa fa-envelope"></i> Contáctanos.
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-success">Enviar</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-dark text-white text-white"><i class="fa fa-home"></i> Dirección</div>
                    <div class="card-body">
                        <p>Erreka <b>Inmobiliaria</b></p>
                        <p>Zamakola 65, Bj, La Peña</p>
                        <p>Correo: <a href="mailto:info@errekainmobiliaria.com">info@errekainmobiliaria.com</a></p>
                        <p>Móvil: 675 602 296 - 944 790 908</p>
                    </div>
                    <div class="card-body">
                        <p>Erreka Garrido <b>Inmobiliaria</b></p>
                        <p>Bilbao La Vieja 1, Bj</p>
                        <p>Correo: <a href="mailto:info@errekagarrido.com">info@errekagarrido.com</a></p>
                        <p>Móvil: 688 713 382 - 688 738 264</p>
                    </div>
                    <div class="card-body">
                        <p>Asesoría <b>Garrido</b></p>
                        <p>Zamakola 47, Bj (La Peña)</p>
                        <p>Correo: <a href="mailto:info@zamakolaabogados.com">info@zamakolaabogados.com</a></p>
                        <p>Móvil: 688 823 351 - 944 169 854</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

{% endblock %}