{% extends 'fronted/fronted.html.twig' %}

{% block title %}Alquiler Garantizado{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="text-center">
            <h1>Alquiler garantizado</h1>
            <p>Tu seguridad es nuestro objetivo.</p>
            <p>¿Quieres alquilar tu vivienda pero temes que no te paguen?</p>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card border-0">
                    <div class="card-header">
                        <h5 class="card-title text-center">Estudio exhaustivo de la solvencia del inquilino</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group text-center list-group-flush">
                            <li class="list-group-item">Consulta del registro de morosos (ASENEF, SEAG, FIM)</li>
                            <li class="list-group-item">Comprobación y estudio de la documentación laboral-económica</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card border-0">
                    <div class="card-header">
                        <h5 class="card-title text-center">Garantía total del cobro del alquiler.</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group text-center list-group-flush">
                            <li class="list-group-item">Cobro el día 8 de cada mes</li>
                            <li class="list-group-item">Transferencia periódica de la renta a tu cuenta bancaria</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card border-0">
                    <div class="card-header">
                        <h5 class="card-title text-center">Administración integral del alquiler contratado</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group text-center list-group-flush ">
                            <li class="list-group-item">Gestión de certificado energético.</li>
                            <li class="list-group-item">Gestión de depósito de la fianza.</li>
                            <li class="list-group-item">Gestión de siniestros con tu seguro.</li>
                            <li class="list-group-item">Visitas periódicas a tu vivienda.</li>
                            <li class="list-group-item">Gestión de averías urgentes.</li>
                            <li class="list-group-item">Indemnización por actos vandálicos.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card border-0">
                    <div class="card-header">
                        <h5 class="card-title text-center">Asesoramiento y defensa legal</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group text-center list-group-flush">
                            <li class="list-group-item">Reclamación de rentas impagadas, daños en la vivienda y deudas de suministros</li>
                            <li class="list-group-item">Procedimiento de desahucio por impago de rentas, por expiración del plazo o incumplimiento</li>
                            <li class="list-group-item">Confección de tu declaración de la Renta</li>
                            <li class="list-group-item">Cambio de cerradura</li>
                            <li class="list-group-item">Indemnización de impagos de suministros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
{% endblock %}