{% extends 'fronted/fronted.html.twig' %}

{% block title %}¿Quieres vender?{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="text-center">
            <h1>Alquiler garantizado</h1>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <p>holaaaa</p>
            </div>
        </div>
    </div>
{% endblock %}