{% extends 'base.html.twig' %}

{% block title %}Contacto{% endblock %}

{% block body %}
    <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Web en construcción!</h1>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a href="{{ path('default') }}">
                                        <img src="{{ asset('img/logo-erreka.png') }}" alt="Erreka">
                                    </a>
                                    <p>
                                        <strong>Más información:</strong>
                                        <br>
                                        <strong>Correo: </strong>info@errekainmobiliaria.com
                                        <br>
                                        <strong>Móvil: </strong> 675 602 296
                                        <br>
                                        <strong>Teléfono: </strong> 94 479 09 08
                                    </p>

                                    <p>Visitas los inmuebles en los siguientes links</p>
                                    <p>
                                        <a href="https://www.idealista.com/pro/p08107956/" target="_blank">Idealista</a>
                                        <a href="https://www.fotocasa.es/es/inmobiliaria-inmobiliaria-erreka/comprar/inmuebles/espana/todas-las-zonas/l?clientId=9202751893628" target="_blank">Fotocasa</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}