{% if count > 0 %}
    <div class="alert alert-warning float-left">
        En uso
    </div>
{% else %}
    <form method="post" action="{{ path(route, {'id': entity.id}) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este elemento?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
        <button class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></button>
    </form>
{% endif %}