<a class="btn btn-info" href="{{ path(route, {'id': id}) }}">
    <span class="icon text-white-50">
        <i class="fas fa-pencil-alt"></i>
    </span>
    <span class="text"> {{ button_label|default('') }} </span>
</a>