{% extends 'admin/layout.html.twig' %}

{% block title %}Edit News{% endblock %}

{% block content %}
    <h1>Edit News</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('news_index') }}">back to list</a>

    {{ include('admin/_delete_form.html.twig', {'route': 'news_delete', 'entity': news}) }}

{% endblock %}
