{% extends 'admin/layout.html.twig' %}

{% block title %}Edit News{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800 float-left">Editar noticia</h1>
            {#        <a class="btn btn-link float-right" href="{{ path('company_index') }}">Volver a la lista</a>#}
        </div>
        <div class="card-body">
            {{ include('admin/_form.html.twig', {'button_label': 'Actualizar'}) }}
{#            {{ include('admin/_delete_form.html.twig', {'route': 'news_delete', 'entity': news, 'count': 0}) }}#}
        </div>
        <div class="card-footer">
            {{ include('admin/_back_link.html.twig', {'route': 'news_index'}) }}
        </div>
    </div>
{% endblock %}
