{% extends 'admin/layout.html.twig' %}

{% block title %}Crear Noticia{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 mb-4 text-gray-800 float-left">Crear nueva noticia</h1>
    </div>
    <div class="card-body">
        {{ include('admin/news/_form_news.html.twig') }}
    </div>
    <div class="card-footer">
        {{ include('admin/_back_link.html.twig', {'route': 'news_index'}) }}
    </div>
</div>

{% endblock %}
