{% extends 'admin/layout.html.twig' %}

{% block title %}New Owner{% endblock %}

{% block content %}
    <h1>Create new Owner</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('owner_index') }}">back to list</a>
{% endblock %}
