{% extends 'admin/layout.html.twig' %}

{% block title %}Edit Agency{% endblock %}

{% block content %}
    <h1>Edit Agency</h1>

    {{ include('admin/agency/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a class="btn btn-link" href="{{ path('agency_index') }}">Volver a la lista</a>

    {{ include('admin/agency/_delete_form.html.twig') }}
{% endblock %}
