{% extends 'admin/layout.html.twig' %}

{% block title %}New Agency{% endblock %}

{% block body %}
    <h1>Create new Agency</h1>

    {{ include('admin/agency/_form.html.twig') }}

    <a href="{{ path('agency_index') }}">back to list</a>
{% endblock %}
