{{ form_start(form, {'action': path('client_new'), 'method': 'POST'}) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
