<div class="row">
    <div class="col-md-12 mb-4">
        <a class="btn btn-primary" href="{{ path('client_sell_show', {'id': client.id}) }}">Detalles</a>
        <a class="btn btn-primary b-4" href="{{ path('client_possible_sell_visits', {'id': client.id}) }}">Encargos</a>
    </div>
</div>