<div class="row">
    <div class="col-md-12 mb-4">
        <a class="btn btn-primary" href="{{ path('client_rent_show', {'id': client.id}) }}">Detalles</a>
        <a class="btn btn-primary b-4" href="{{ path('client_possible_rent_visits', {'id': client.id}) }}">Posibles Visitas</a>
    </div>
</div>