{% extends 'admin/layout.html.twig' %}

{% block title %}New Client{% endblock %}

{% block content %}
    <h1>Create new Client</h1>

    {{ include('admin/client/_form.html.twig') }}

    <a href="{{ path('client_rent_index') }}">back to list</a>
{% endblock %}
