{% extends 'fronted/fronted.html.twig' %}

{% block title %}Política de Privacidad | Erreka Inmobiliaria (La Peña){% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Intro Single ======= -->
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">Política de Privacidad</h1>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('default') }}">Inicio</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Política de Privacidad
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Intro Single-->
    </main>
    <div class="container">
        <p><strong>Erreka Inmobiliaria</strong> es la entidad de Estudio Arizgoiti SL y titular del website <a href="https://www.errekainmobiliaria.com">www.errekainmobiliaria.com</a> (en adelante el “Website”),con domicilio social en calle Ibaialde 2 bj y con C.I.F. número B95370706 y que está destinada a Servicios Inmobiliarios</p>

        <p>Erreka Inmobiliaria le garantiza la protección de todos los datos de carácter personal que proporcione el Usuario en el Website y, en cumplimiento de lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre de Protección de Datos de Carácter Personal, en le RD 1720/2007 de 21 de diciembre y restante normativa de aplicación, le informa que:</p>

        <ol type="a">
            <li class="my-3">Todos los datos de carácter personal facilitados a Erreka Inmobiliaria serán tratados por ésta de acuerdo con la Ley Orgánica 15/1999 de 13 de diciembre de Protección de Datos de Carácter Personal y el RD 1720/2007 de 21 de diciembre y quedarán incorporados en el fichero USUARIO S DE LA PAGINA WEB, creado y mantenido bajo la responsabilidad de Erreka Inmobiliaria, el cual ha sido debidamente registrado en la Agencia Española de Protección de Datos.</li>
            <li class="my-3">Los datos son recabados con las siguientes finalidades: (i) gestión, estudio y resolución de consultas y (ii) envío de publicidad y prospección comercial por medios electrónicos, acerca de la empresa, sus actividades, productos y servicios, así como documentación de diversa naturaleza.</li>
            <li class="my-3">En la recogida y el tratamiento de los datos de carácter personal se han adoptado las medidas de seguridad adecuadas para evitar la pérdida, el acceso no autorizado o la manipulación de los mismos, de acuerdo con lo establecido en el Real Decreto 1720/2007, de 21 de diciembre.</li>
            <li class="my-3">Erreka Inmobiliaria se compromete a proteger la información confidencial a la que tenga acceso.</li>
            <li class="my-3">Erreka Inmobiliaria no empleará en ningún caso los datos de carácter personal que usted ponga a su disposición para prestar servicios a terceros distintos a los referidos en el apartado b) del presente documento o, en su caso, para lograr una utilidad propia.</li>
            <li class="my-3">El Usuario certifica que es mayor de 14 años y que por lo tanto posee la capacidad legal necesaria para la prestación del consentimiento en cuanto al tratamiento de sus datos de carácter personal y todo ello, de conformidad con lo establecido en la presente Política de Privacidad.</li>
            <li class="my-3">El Usuario puede, en todo momento, ejercitar los derechos de acceso, rectificación, cancelación y oposición sobre sus datos personales así como el de revocación del consentimiento para cualquier de las finalidades antes señaladas, enviando a Erreka Inmobiliaria carta debidamente firmada a nuestra dirección postal, arriba indicada, donde consten claramente los datos de contacto, a la cual deberá acompañarse fotocopia de su DNI/NIF o documento que acredite su identidad.</li>
            <li class="my-3">El Usuario autoriza al tratamiento automatizado de los datos personales suministrados en los términos indicados. Para ello pulse el botón “ENVIAR” que se encuentra tras el formulario de recogida de datos.</li>
        </ol>
    </div>
{% endblock %}