{% extends 'admin/layout.html.twig' %}

{% block title %}Hello LivinPlaceController!{% endblock %}

{% block content %}
    <h1>Listado Vivienda {{ properties|length }}</h1>
    {% for property in properties %}
        {{ property.price }}
    {% endfor %}
{% endblock %}
