{% extends 'base.html.twig' %}

{% block body %}
    Detalles del Mensaje
    <br>
    Nombre: {{ fullName }}
    <br>
    Móvil o Teléfono: {{ mobile }}
    <br>
    Mensaje:
    <p>{{ comment }}</p>
{% endblock %}