{% extends 'admin/layout.html.twig' %}

{% block title %}Nueva Situación{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-4 text-gray-800 float-left">Crear nueva situación</h1>
            {#        <a class="btn btn-link float-right" href="{{ path('company_index') }}">Volver a la lista</a>#}
        </div>
        <div class="card-body">
            {{ include('admin/_form.html.twig') }}
        </div>
        <div class="card-footer">
            {{ include('admin/_back_link.html.twig', {'route': 'situation_index'}) }}
        </div>
    </div>

{% endblock %}