{% extends 'admin/layout.html.twig' %}

{% block title %}Hello PubController!{% endblock %}

{% block content %}
    <h1>Listado Bar {{ properties|length }}</h1>
    {% for property in properties %}
        {{ property.price }}
    {% endfor %}
{% endblock %}

